<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
  </head>
<body>
  <h1><%= @restaurant.name %> Menu</h1>
  <nav class="nav-bar">
    <%= link_to "All Dishes", "/dishes" %>
    <%= link_to "All Restaurants", "/restaurants" %>
    <%= link_to "Create Dish", "/restaurants/#{@restaurant.id}/dishes/new" %>
    <%= link_to "Sort Dishes Alphabetically", "/restaurants/#{@restaurant.id}/dishes?sort=alphabetically" %>
  </nav>
  <section id='restaurantDishesIndex'>
    <% @dishes.each do |dish| %>
    <h3 class="dishes"><%= dish.name %></h3>
    <p>Currently in season: <%= dish.in_season %></p>
    <p>Cost: $<%= dish.cost %></p>
    <p>Added on: <%= dish.created_at %></p>
    <p>Last updated at: <%= dish.updated_at %></p>
    <% end %>
  </<section>
</body>
