<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
  </head>
<body>
<h1>All Dishes</h1>
  <nav class="nav-bar">
    <%= link_to "All Dishes", "/dishes" %>
    <%= link_to "All Restaurants", "/restaurants" %>
  </nav>
  <% @dishes.each do |dish| %>
  <h3><%= dish.name %></h3>
  <p>Currently in season: <%= dish.in_season %></p>
  <p>Cost: $<%= dish.cost %></p>
  <p>Added on: <%= dish.created_at %></p>
  <p>Last updated at: <%= dish.updated_at %></p>
  <%= link_to "Update #{dish.name}", "/dishes/#{dish.id}/edit" %>
  <%= link_to "Delete #{dish.name}", "/dishes/#{dish.id}", method: :delete %>
  <% end %>
</body>
