<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
  </head>
<body>
  <h3><%= @dish.name %></h3>
  <nav class="nav-bar">
    <%= link_to "All Dishes", "/dishes" %>
    <%= link_to "All Restaurants", "/restaurants" %>
  </nav>
  <p>Currently in season: <%= @dish.in_season %></p>
  <p>Cost: $<%= @dish.cost %></p>
  <p>Added on: <%= @dish.created_at %></p>
  <p>Last updated at: <%= @dish.updated_at %></p>
</body>
