<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
</head>
<body>
  <h1>All Restaurants</h1>
  <nav class="nav-bar">
    <%= link_to "All Dishes", "/dishes" %>
    <%= link_to "All Restaurants", "/restaurants" %>
    <%= link_to "New Restaurant", "/restaurants/new" %>
  </nav>
  <section id="restaurantIndex">
    <% @restaurants.each do |restaurant| %>
    <h3 class="restaurant" style="display: inline;"><%= restaurant.name %></h3>
    <p style="display: inline;"><%= restaurant.created_at %></p><br>
    <% end %>
  </section>
</body>
