<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
</head>
<body>
  <h1>New Restaurant</h1>
  <nav class="nav-bar">
    <%= link_to "All Dishes", "/dishes" %>
    <%= link_to "All Restaurants", "/restaurants" %>
  </nav>
  <%= form_with url: "/restaurants/new", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.radio_button :open, true %>
  <%= form.label :open, "Restaurant is open" %>
  <%= form.radio_button :open, false %>
  <%= form.label :open, "Restaurant is closed" %>
  <%= form.label :guest_capacity %>
  <%= form.text_field :guest_capacity %>
  <%= form.submit 'Create Restaurant' %>
  <% end %>

</body>
