<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
  </head>
<body>
  <h1><%= @restaurant.name %></h1>
  <nav class="nav-bar">
    <a href="/dishes">All Dishes</a>
    <a href="/restaurants">All Restaurants</a>
  </nav>
  <p>Capacity: <%= @restaurant.guest_capacity %></p>
  <p>Open for business: <%= @restaurant.open %></p>
  <p>Created at: <%= @restaurant.created_at %></p>
  <p>Last updated: <%= @restaurant.updated_at %></p>
  <p>Total Dishes: <%= @restaurant.dish_count %></p>
</body>
