<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
  </head>
<body>
  <h1><%= @restaurant.name %></h1>
  <nav class="nav-bar">
    <%= link_to "All Dishes", "/dishes" %>
    <%= link_to "All Restaurants", "/restaurants" %>
    <%= link_to "#{@restaurant.name}'s Menu", "/restaurants/#{@restaurant.id}/dishes" %>
    <%= link_to "Update #{@restaurant.name}", "/restaurants/#{@restaurant.id}/edit" %>
  </nav>
  <p>Capacity: <%= @restaurant.guest_capacity %></p>
  <p>Open for business: <%= @restaurant.open %></p>
  <p>Created at: <%= @restaurant.created_at %></p>
  <p>Last updated: <%= @restaurant.updated_at %></p>
  <p>Total Dishes: <%= @restaurant.dish_count %></p>
  <%= link_to "Delete #{@restaurant.name}", "/restaurants/#{@restaurant.id}", method: :delete %>
</body>
