<h1><%= @restaurant.name %></h1>
<p>Capacity: <%= @restaurant.guest_capacity %></p>
<p>Open for business: <%= @restaurant.open %></p>
<p>Created at: <%= @restaurant.created_at %></p>
<p>Last updated: <%= @restaurant.updated_at %></p>
